* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    text-align: center;
    margin: 30px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

img {
    border: 1px dashed rgb(185, 185, 185);
}